.aboutusBody {
  background-color: white;
}

.aboutusBody .subsection {
  background-image: url('/static/images/art-supplies.jpg');
  height: 600px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.factcards {
  height: 520px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 645px) {
  .factcards {
    flex-direction: column;
    height: auto;
  }  
}

.factcard {
  &--container {
    width: 32%;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0px 20px 10px 20px;
  }

  &--fact {
    &--image {
      width: 100px;
      height: 100px;
      margin: auto;
      margin-bottom: 10px;
    }
    &--title {
      padding-top: 50px 0 10px 0;
      margin: auto;
      text-align: center;
    }
    &--text {
      text-align: center;
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 645px) {
  .factcard--container {
      width: 100%;
  }
}

.us {
  margin: 100px 50px;
}

@media only screen and (max-width: 645px) {
  .us {
    margin: 40px 0 0 0;
  }
}

.employee {
  &--group {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 50px 100px;
  }

  &--container {
    padding: 30px 0;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
  }

  &--image {
    width: 320px;
    height: 320px;

    &--img {
      max-width: 100%;
    }
  }

  &--text {
    margin-left: 100px;
  }

  &--name {
    font-weight: bold;
  }

  &--description {
    width: 400px;
  }
}

@media only screen and (max-width: 1110px) {
  .employee--group {
    padding: 0px;
    margin-top: 20px;
  }
  .employee--container {
    flex-direction: column;
  }
  .employee--text {
    margin-left: 0px;
    padding: 15px 0px;
  }
  .employee--name {
    text-align: center;
  }
  .employee--description {
    padding: 0 40px;
    text-align: center;
  }
}
