.tf-yellow {
  color: $pencil-yellow;
}
.bg-tf-yellow {
  background-color: $pencil-yellow;
}
.b--tf-yellow {
  border-color: $pencil-yellow;
}
.tf-gray {
  color: $light-gray;
}
.bg-tf-gray {
  background-color: $light-gray;
}
.tf-dark-gray {
  color: $lead-gray;
}
.bg-tf-dark-gray {
  background-color: $lead-gray;
}
.tf-pink {
  color: $eraser-pink;
}
.bg-tf-pink {
  background-color: $eraser-pink;
}
.border-tf-pink {
  border-color: $eraser-pink;
}
.tf-teal {
  color: $dark-teal;
}
.bg-tf-teal {
  background-color: $dark-teal;
}
.border-tf-teal {
  border-color: $dark-teal;
}
.white {
  color: white;
}
