.btn-primary {
  @include btn-default($pencil-yellow, white);
}
.btn-red {
  @include btn-default($eraser-pink, white);
}
.btn-alt {
  @include btn-alt(white, $pencil-yellow);
}
.btn-donate {
  @include btn-darken($dark-teal, white);
}

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25em;
  color: $lead-gray;
  background-color: $pencil-yellow;
  transform: translateY(-100%);

  &:focus {
    transform: translateY(0);
    outline: none;
  }

  &:hover {
    box-shadow: inset 0 0 0 .15em;
  }
}
