.title {
  text-align: center;
  margin: auto;
}

/**
* The CSS shown here will not be introduced in the Quickstart guide, but shows
* how you can use CSS to style your Element's container.
*/
.donate__form {
  background-color: white;
  height: auto;
  font-size: 14px;
  width: 300px;
  margin: auto;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #8d9197;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.donate__form--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.donate__form--invalid {
  border-color: #fa755a;
}

.donatePage {
}

.donatePage__content {
  padding: 120px 0 120px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.donatePage__subsection {
  width: auto;
  margin-top: 0;
  overflow: hidden;
  padding: 20px 5% 60px 5%;
  text-align: center;
}
.donatePage__subsection > div {
  color: black;
}
.backgroundImage {
  width: 100%;
  z-index: -1;
}
.donate__form--webkit-autofill {
  background-color: #fefde5 !important;
}
.donate__name {
  width: 100%;
  margin-bottom: 2px;
}
.donate__name > input {
  height: auto;
  font-size: 14px;
  width: 300px;
  margin: auto;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #8d9197;
}

@media only screen and (min-width: 800px) { 
  .donatePage__subsection {
    width: 40%;
    float: right;
    padding: 5% 15% 5% 0;
  }
  .donatePage {
    position: relative;
    height: 100%;
  }
  .donatePage__content {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .subsection > div {
    background-color: transparent;
  }
  .donatePage____content__form {
    padding: 2% 15%;
    float: left;
  }
}