.footer {
  position:absolute;
  bottom:0;
  width:100%;
  // padding: 10%;
  height: 200px; 
  background-color: #434343;
}
.footer > div {
  color: white;
}
.footerLinks {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.nonprofitInfo {
  text-align: center;
  margin: auto;
}
.footerLinks > div {
  margin: 20px;
}