.emailCapture {
  width: 100%;
  color: white;
  text-align: center;
  background-color: #434343;
  padding: 120px 0;

  &--title {
    margin: 20px 0 80px 0;
  }
}

@media only screen and (min-width: 600px) { 

}