.index {
  &__header {
    background-image: url('/static/images/pencils.png');
    display: flex;
    height: 40rem;
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: flex;
  }

  &__provide {
    padding-left: 16rem;
    @media screen and (max-width: $tablet-width) {
      height: 20rem;
      padding-left: 12rem;
    }
    @media screen and (max-width: $small-screen) {
      align-items: flex-start;
      height: 40rem;
      padding: 4rem 0 0 2rem;
    }

    &-image {
      background-image: url('/static/images/children-class-classroom.png');
      height: 35rem;

      @media screen and (max-width: $x-large-screen) {
        height: 30rem;
      }
      @media screen and (max-width: $large-screen) {
        height: 27rem;
      }
      @media screen and (max-width: $medium-screen) {
        height: 24rem;
      }
      @media screen and (max-width: $tablet-width) {
        height: 20rem;
      }
      @media screen and (max-width: $small-screen) {
        height: 18rem;
      }
      @media screen and (max-width: $x-small-screen) {
        height: 15rem;
      }

    }
    &-content {
      height: 30rem;
      left: 15%;

      @media screen and (max-width: $x-large-screen) {
        height: 28rem;
      }
      @media screen and (max-width: $large-screen) {
        height: 26rem;
        padding: 2.5rem;
      }
      @media screen and (max-width: $medium-screen) {
        height: 20rem;
        width: 20rem;
        left: 7%;
      }
      @media screen and (max-width: $tablet-width) {
        height: 18rem;
        width: 20rem;
      }
      @media screen and (max-width: $small-screen) {
        height: 15rem;
        top: 40%;
        left: 15%;
        height: 20rem;
      }
      @media screen and (max-width: $x-small-screen) {
        top: 40%;
        left: 5%;
        width: 18rem;
      }
    }
  }

  &__metrics {
    @media screen and (min-width: 832px) {
      padding: 0 2rem;
    }
    @media screen and (min-width: 896px) {
      padding: 0 10.2rem;
    }
    @media screen and (min-width: 960px) {
      padding: 0 9.5rem;
    }
    @media screen and (min-width: 1280px) {
      padding: 0 11rem;
    }
    @media screen and (min-width: 1303px) {
      padding: 0 20rem;
    }
    @media screen and (min-width: 1328px) {
      padding: 0 21rem;
    }
    @media screen and (min-width: 1648px) {
      padding: 0 31rem;
    }
    @extend .flex,
            .flex-column,
            .flex-row-ns,
            .flex-wrap,
            .justify-center;
  }

  &__metric {
    @extend .w5,
            .pa3,
            .pa0-ns,
            .h4-ns,
            .bg-white,
            .bl,
            .bw3,
            .ma2,
            .ma4-l,
            .flex,
            .flex-column,
            .items-center,
            .justify-center;
  }
}
