.index {
  &__header {
    background-image: url('/static/images/pencils.png');
  }

  &__provide {
    background-image: url('/static/images/children-class-classroom.png');
    height: 30rem;
    left: 28rem;
    width: 44rem;
  }
}

@media only screen and (min-width: 800px) {
}