.nav {
  font-family: 'Lato';
  font-size: 17px;
  background-color: white;

  &__buttons {
    margin: auto;
    border-color: $pencil-yellow;

    &__button {
      color: $pencil-yellow;
    }
  }

  &__hamburger {

    &__container {
      
    }
  }

  &__logo {

    &__container {
      width: 100px;
      height: 100px;
    }
  }

  &__items {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .nav {
    &__buttons {
      
    }

    &__hamburger {

      &__container {
        display: none;
      }
    }
  
    &__logo {
  
      &__container {
        width: 200px;
        height: 90px;
      }

      &__mobile {
        display: none;
      }
    }
  
    &__items {
      display: block;
      margin: auto;

      &__item {
        color: $lead-gray;
      }
    }

    &__drawer {
      display: none;
    }
  }
}