.h-section {
  @media screen and (min-width: 960px) {
    height: $section-height;
  }
}
.h-footer {
  height: $footer-height;
}
.w-94 {
  width: 94%;
}
.w6 {
  width: 32rem;
}
.h7 {
  height: 32rem;
}
.h6 {
  height: 32rem;
}
.h5-25 {
  height: 22rem;
}
.h5-5 {
  height: 28rem;
}

// text size
.ts-subtext {
  font-size: 21px;
}
.ts-title {
  font-size: 40px;
}

// image
.i-contain {
  object-fit: contain;
}