.h-section {
  @media screen and (min-width: 960px) {
    height: $section-height;
  }
  @media screen and (max-width: 959px) {
    margin-bottom: 2rem;
    min-height: 30rem;
  }
}
.h-footer {
  height: $footer-height;
}
.w-94 {
  width: 94%;
}
.w6 {
  width: 32rem;
}
.h7 {
  height: 32rem;
}
.h6 {
  height: 32rem;
}
.h5-25 {
  height: 22rem;
}
.h5-5 {
  height: 28rem;
}

// text size
.ts-subtext {
  font-size: 24px;
}
.ts-title {
  font-size: 48px;
}
.paypal-button {
  width: 11rem;
}
