.m-auto {
  margin: auto;
}
.mh-auto {
  margin-left: auto;
  margin-right: auto;
}
.mv-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.paypal-button {
	margin-top: 0.6rem;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
}