.statstable {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--container {
    margin: 100px;
  }

  &--title {
    margin-bottom: 30px;
  }

  &--stat {
    display: flex;
    background-color: white;
    flex-direction: column;
    color: black;
    border: 1px solid black;
    width: 200px;
    height: 120px;

    &--number {
      margin: 20px 0 0 0;

    }
    &--subtext {
      
    }
  }
}


