// important
.subsectionImportant {
  width: 100%; 
  overflow: hidden;
  background-color: #434343;
}
.subsectionImportant > div {
  color: white;
  text-align: center;
  background-color: #434343;
}
.subsectionContent {
}
.titleText {
  width: 100%;
}
.sectionImage {
  width: 100%;
  z-index: -1;
}
.descriptionText {
  margin-bottom: 20px;
}
.swiper_container {
  height: auto;
  width: 100%;
  margin: 20px 0 20px 0;
}
.slide {
  background-color: white;
  border-radius: 4px;
  width: 330px;
}
.slide-inner {
  color: black;
  border: 2px solid #f1f1f0;
  padding: 40px 10px;
  border-radius: 4px;
  transition: border-color .15s linear;
}
.swiper-slide-active {
  border-color: #c1c1ba;
}
.mission-title {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

@media only screen and (min-width: 800px) { 
  .subsectionImportant > div {
    background-color: transparent;
  }
  .subsectionContent {
    padding-top: 140px;
    width: 60%;
    margin: auto;
    padding-bottom: 80px;
  }
  .sectionImage {
    display: none;
  }
  .swiper-wrapper {
    margin: 80px auto auto auto;
  }
  .subsectionImportant {
    position: relative;
    background-color: transparent;
  }
  .swiper_container {
    height: 500px;
    width: 100%;
    margin: auto;
  }
  .slide {
    background-color: white;
    border-radius: 4px;
    width: 20%;
  }
}

// basic
.subsection {
  width: 100%;
  margin-top: 0;
  overflow: hidden;
}
.subsection > div {
  color: white;
  background-color: #434343;
}
.subsectionText {
  padding: 80px 5% 20px 5%;
  text-align: center;
}
.backgroundImage {
  display: none;
}
.sectionImage {
  width: 100%;
  z-index: -1;
}

@media only screen and (min-width: 800px) { 
  .subsectionText {
    width: 500px;
    margin: 12% 12%;
  }
  .subsection > div {
    background-color: transparent;
  }
  .backgroundImage {
    position: absolute;
    display: block;
    height: auto;
  }
  .sectionImage {
    display: none;
  }
}