.footer {
  padding: 10%;
  height: 200px; 
  background-color: #434343;
}
.footer > div {
  color: white;
}
.footerLinks {
  margin-top: 100px;
  margin-button: 10px;
  display: flex;
  justify-content: center;
}
.nonprofitInfo {
  text-align: center;
  margin: auto;
}
.footerLinks > div {
  margin: 20px;
}
a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

@media only screen and (min-width: 600px) { 
  .footer {
    width: 80%;
  }
}