.emailCapture {
  width: 100%;
  color: white;
  text-align: center;
  background-color: #434343;
  padding: 100px 0;
}
.titleText {
  margin-bottom: 10px;
}

@media only screen and (min-width: 600px) { 

}