.navItems {
  display: none;
}
.navButtons {
  display: none;
}
.navBarSection {
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-end;
  display: flex;
  flex-direction: row-reverse;
  background-color: transparent;
}
.nav {
  position: absolute;
  width: 100%;
  background-color: white;
}
.nav > div {
  padding: 10px 0;
}
.navBarSection > div, .navBarSection > div > div {
  padding: 10px 10px 0px 10px;
  margin-left: auto;
}
.imageLogo {
  width: 100px;
  height: 50px;
  margin-left: 5px;
}
.hamburgerContainer {
  float: right;
}
.drawerXClose {
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}
.navigationDrawerLinks {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.navigationDrawerLinks > a {
  margin-left: 10px;
  margin-top: 20px;
  width: 100%;
}
.drawer {
  background-color: white;
}

@media only screen and (min-width: 800px) {
  .navItems {
    flex-grow: 1;
    flex-direction: row;
    display: flex;
  }
  .nav {
    background-color: transparent;
  }
  .navBarSection > div, .navBarSection > div > div {
    padding: 10px 10px 10px 10px;
    margin: 0 4px;
  }
  .navButtons {
    display: flex;
    flex-direction: row;
  }
  .navButtons > div {
    border: 1px solid white;
    border-radius: 4px;
  }
  .navBarSection {
    flex-direction: row;
  }
  .drawer {
    display: none;
  }
  .imageLogo {
    display: none;
  }
  .hamburgerContainer {
    display: none
  }
}