.switcher {
  display: flex;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #F6B333;
  height: 40px;
  line-height: 40px;
}
.switcher__leftItem {
  flex-grow: 1;
  cursor: pointer;
  
}
.switcher__rightItem {
  flex-grow: 1;
  cursor: pointer;
}
.selected {
  background-color: #F6B333;
  color: white;
}