@import '../../static/styles/variables';

.blog-component {

  .title:hover {
    color: $blog-component-title;
    cursor: pointer;
  }

  .read-more {
    color: $blog-component-read-more-color;
    cursor: pointer;
  }
}