// colors
$pencil-yellow: #f6b333;
$lead-gray: #434343;
$eraser-pink: #e06767;
$dark-teal: #336e7b;
$light-gray: #95a4a6;

// sizing
$section-height: 44rem;
$footer-height: 32rem;


// screen widths
$x-small-screen: 480px;
$small-screen: 600px;
$tablet-width: 768px;
$medium-screen: 900px;
$large-screen: 1024px;
$x-large-screen: 1200px;

// blog page
$side-nav-bg-color: #f9f9f9;
$side-nav-color: #656565;
$blog-component-title: rgb(46, 157, 247);
$blog-component-read-more-color: rgb(6, 91, 159);
$side-nav-selected-school-color: #212321;