@import url('https://fonts.googleapis.com/css?family=Oswald:500,300,400');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

@import '../../node_modules/tachyons-sass/tachyons';
@import '_variables';

// partials
@import './partials/_sizing';
@import './partials/_colors';
@import './partials/_fonts';
@import './partials/_spacing';
@import './partials/_display';
@import './partials/_utility';
@import './partials/_indexpage';
@import './partials/_components';
@import './partials/_header';
