@import 'partials/navigation.scss';
@import 'partials/home.scss';
@import 'partials/donate.scss';
@import 'partials/ourwork.scss';
@import 'partials/whyteachers.scss';
@import 'partials/aboutus.scss';

@import 'partials/subsection.scss';
@import 'partials/footer.scss';
@import 'partials/emailcapture.scss';

:global(body) {
  margin: 0;
  background-color: #d9d9d9;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir,
    Helvetica, sans-serif;
}
.backgroundImage {
  display: none;
}
.button {
  padding: 10px 12px;
  margin: 4px 0 0 0;
  border-radius: 4px;
  width: 300px;
  font-size: 14px;
  display: inline-flex;
  background-color: #F6B333;
  cursor: pointer;
  justify-content: center;
}
.button > label {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}
a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.white {
  color: white;
}
.black {
  color: black;
}
html, body {
  height: 100%;
}

@media only screen and (min-width: 600px) { 
  .backgroundImage {
    position: absolute;
    display: block;
    width: 100%;
    z-index: -1;
  }
  .nav {
    z-index: 1000;
  }
}