.tf-yellow {
  color: $pencil-yellow;
}
.bg-tf-yellow {
  background-color: $pencil-yellow;
}
.border-tf-yellow {
  border-color: $pencil-yellow;
}
.tf-gray {
  color: $light-gray;
}
.bg-tf-gray {
  background-color: $light-gray;
}
.border-tf-gray {
  border-color: $light-gray;
}
.tf-dark-gray {
  color: $lead-gray;
}
.bg-tf-dark-gray {
  background-color: $lead-gray;
}
.border-tf-dark-gray {
  border-color: $lead-gray;
}
.tf-pink {
  color: $eraser-pink;
}
.bg-tf-pink {
  background-color: $eraser-pink;
}
.border-tf-pink {
  border-color: $eraser-pink;
}
.tf-teal {
  color: $dark-teal;
}
.bg-tf-teal {
  background-color: $dark-teal;
}
.border-tf-teal {
  border-color: $dark-teal;
}
.white {
  color: white;
}
.bg-white {
  background-color: white;
}
.bg-card {
  background-color: rgba($light-gray, 0.1);
}
.bg-transparent {
  background-color: rgba(white, 0.6);
}
.paypal-button {
  outline: none;
}

.blog-side-nav-school-non-selected {
  color: $lead-gray;
  background-color: lighten($light-gray, 25%);
}

.blog-side-nav-school-selected {
  color:lighten($light-gray, 25%) !important;
  background-color: $lead-gray;
}

.blog-title:hover {
  color: $dark-teal;
}
.bg-trans-gray {
  background-color: rgba($light-gray, 0.1);
}

.nav-item:hover{
  color: lighten($lead-gray, 25%);
}